
{erl_opts, [debug_info]}.

{cover_enabled, false}.

{deps, [
    {mimetypes, ".*",
        {git, "git://github.com/spawngrid/mimetypes", {tag, "1.0"}}},
    {cowboy, ".*",
        {git, "git://github.com/extend/cowboy", {tag, "0.8.6"}}},
    
    {proper, ".*",
        {git, "git://github.com/manopapad/proper", {tag, "v1.1"}}}
]}.

{sub_dirs, [
    "apps/ulti_game",
    "apps/ulti_http",
    "rel"
]}.

